# Python bytecode & compiled cache
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Virtual Environments
venv/
env/
ENV/
.venv/
env.bak/
venv.bak/

# Environment Variables
.env
.env.local

# IDE & Code Editor files
.vscode/
.idea/
*.swp
*.swo
*.sublime-project
*.sublime-workspace

# Operating System files
.DS_Store
Thumbs.db
